body {
	margin: 0;
	text-align: center;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4rem;
	padding-top: 10%; 
	color: #4bb2b2;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	padding: 1rem;	 
	color: #66bfbf;
}	

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

hr {
	border: dotted 5px  #66bfbf;
	border-bottom: none;
	width: 4%;
	margin: 4rem auto;
}

#top-section {
	background-color: #daecec;
	padding: 5% 0 0;
	position: relative;
}

.cloud-1 {
	position: absolute;
	left: 10%;
}

.trees img {
	margin: -10px 0 0 -10px;
}

#middle-section h2 {
	font-size: 2.5rem;
}

#intro {
	width: 30%;
	margin: 0 auto;
}

.row {
	margin: 0;
}

.skill-row {
	padding: 3% 20% 3% 15%;
}

.discription h3{
	padding: 2rem 0;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.discription p{
	line-height: 2;
}

#contact-me p {
	width: 30%;
	margin: 0 auto;
	line-height: 2;
}

#contact-me .btn {
	margin-top: 50px;
}

#bottom-section {
	position: relative;
	background-color: #66bfbf;
	padding: 2rem;
}

#bottom-section img {
	width: 25%;
	position: absolute;
	bottom: 0;
	right: 0;
}

#bottom-section a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	margin: 0 30px;
	color: #11999e;
	text-decoration: none;
}

#bottom-section a:hover {
	color: #eaf6f6;
}


#copyright {
	color: #eaf6f6;
	margin-top: 50px;
}

@media (max-width: 800px) {
	#top-section .cloud-1 {
		position: absolute;
		left: -150px;

	}

	#top-section .trees {
		width: 100%;
	}

	#top-section h1 {
		padding-top: 200px;
		font-size: 3rem;
	}

	#top-section h2 {
		padding-top: 1rem;
		font-size: 1.5rem;
	}

	.row {
		margin: 0;
	}

	#middle-section #intro {
		width: 100%;
		text-align: center;
	}

	#middle-section #falls {
		width: 70%;
	}

	#middle-section #intro p {
		width: 50%;
		margin: 0 auto;
		line-height: 2;
	}

	#middle-section h2 {
		font-size: 2rem;
	}

	#bottom-section a{
		font-size: 1rem;
		padding: 5%;
	}

	#bottom-section img {
		width: 30%;
		position: absolute;
		right: 0; 
		bottom: 0;
	}
}

